body{
    background-color: rgb(186, 152, 100);
}


header{
    background-color:burlywood
}

footer{
    background-color: black;
    color:  white;
}

.red{
    background-color: rgb(84, 71, 52);
}

footer{
    height: 70px;
    text-align: center;
}

.c{
    background-color: blue;
}

.c1{
    background-color: aquamarine;
}

.c2{
    background-color: crimson;
}